.main-container {
  display: flex;
  height: 90vh;
  justify-content: center;
}

.main-header {
  display: flex;
  flex-direction: row-reverse;
  padding: 20px;
}
.main-body {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}
.search-section {
  display: flex;
  justify-content: center; /* Center-align items horizontally */
  padding: 0; /* Remove extra padding or margins */
}

.form-fields-container {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping for smaller screens */
  gap: 8px; /* Minimal gap between fields and button */
  width: 100%; /* Ensures the container spans full width */
}
mat-form-field,
.upload-button {
  flex: 1 0 200px; /* Makes fields and button equally sized */
}
.upload-button {
  align-self: flex-start; /* Aligns the button at the top of the container */
  margin-left: auto; /* Pushes the button to the right end */
  height: 55px;
}

.custom-table {
  width: 100%;
  overflow-x: auto;
}

.document-link {
  color: #1976d2;
  text-decoration: none;
}

.document-link:hover {
  text-decoration: underline;
}

.status {
  padding: 4px 8px;
  border-radius: 4px; /* Rounded corners for the border */
  font-weight: bold;
  display: inline-block;
  text-align: center;
}

/* Define styles for each audit status */
.status.completed,
.status.uploaded {
  color: #4caf50; /* Green text */
  border: 2px solid #4caf50; /* Green border */
}

.status.in-progress,
.status.uploading {
  color: #ff9800; /* Orange text */
  border: 2px solid #ff9800; /* Orange border */
}

.status.not-started,
.status.failed {
  color: #f44336; /* Red text */
  border: 2px solid #f44336; /* Red border */
}
.disabled-link {
  pointer-events: none;
  color: gray;
  text-decoration: none;
}
.table-container {
  max-height: calc(80vh - 100px); /* Set the maximum height for the container */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: auto; /* Enable horizontal scrolling if needed */
  border: 1px solid #ccc; /* Optional: Add a border for better visibility */
}
